rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /equipos/{docId} {

      // Cualquiera puede ver los equipos
      allow read: if true;

      // Solo usuarios autenticados pueden registrar un equipo
      allow create: if
        request.auth != null &&
        request.resource.data.uid == request.auth.uid &&
        request.resource.data.teamName is string &&
        request.resource.data.teamName.size() >= 2 &&
        request.resource.data.captain is string &&
        request.resource.data.players is list &&
        request.resource.data.players.size() == 5;

      // Nadie puede editar ni eliminar equipos desde la app
      allow update, delete: if false;
    }

    match /users/{userId} {

      // Solo usuarios autenticados pueden leer usuarios
      allow read: if request.auth != null;

      // Cada usuario solo puede crear/editar su propio perfil
      allow create, update: if
        request.auth != null &&
        request.auth.uid == userId;

      // No permitir borrar usuarios desde cliente
      allow delete: if false;
    }

    // Todo lo demás bloqueado
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
